.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


#btnone {
  transform: translateX(-700px);
  height: 75px;
  width: 100px;
  border-radius: 100%;
}

#lmone {
  transform: translateX(-65px);
}

#Aboutlfg {
  text-align: center;
}

#questionaireh {
  text-align: center;
}

#jumbo {
  text-align: center;
  width: 500px !important;
  margin: auto;
}
