.nLinkStyle {
    color: #3FB143;
    padding: .2em 0 .2em 0;
    font-size: 1.4em;
    font-family: 'Courier New', Courier, monospace;
}
.nLinkStyle:hover {
    text-decoration: none;
    color: #B1B1B1;
}
.nav-link{
    background-color:#233243;
    border: none;
    color: #3FB143;
}
.nLinkStyle:active {
    color: #233243;
}
.barStyle {
    background-color: #384757;
}
